
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    line-height: normal;
    font-size: larger;
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
}

h1 {
    text-align: center;
    font-size: large;
    font-weight: bold;
}

h2 {
    text-align: left;
    font-size: medium;
    font-weight: bold;
}

h3 {
    text-align: left;
    font-size: medium;
    font-weight: bold;
    font-style: italic;
}

/* .education {
    display: flex;
    justify-content: space-between;
}

.projects {
    display: flex;
    justify-content: left;
} */

.contact {
    display: inline;
}

div.mycontainer {
    width:100%;
    overflow:auto;
  }
  div.mycontainer div {
    width:50%;  
    float:left;
  }